# mongo db

MONGO_IMAGE=mongo
MONGODB_URI=mongodb+srv://climatecontrolsing:RouseV012017-@arcontroller.0zzly.mongodb.net/ccicooling
MONGODB_URI_config=?retryWrites=true&w=majority&appName=arcontroller
MONGO_PASSWORD=RouseV012017-
MONGO_HOST=localhost
MONGO_VOL_DATA=/opt/mongo/mongdata

MONGO_DATA_DRIVER=drive


#gateway
ROUTE_GATEWAY=./gateway
GATEWAY_PORT=2025

DB_USER=Rouse
DB_PASSWORD=RouseV012017-

DB_SID=xe
DB_SERVICE=xe

#ms sessions

MSSESSIONS_HOST=ms-sessions
MSSESSIONS_URI=http://localhost:1991/api/ms-session/
MSSESSIONS_PORT=1991

#ms products

MSPRODUCTS_HOST=ms-products
MSPRODUCTS_URI=http://localhost:1992/api/ms/products/
MSPRODUCTS_PORT=1992


PSW_JWT=RouseV012017*