#mongo
MONGO_IMAGE=mongo
MONGODB_URI=ruyt
MONGODB_URI_config=ruta
MONGO_PASSWORD=any
MONGO_HOST=host
MONGO_VOL_DATA=/opt/mongo/mongdata

MONGO_DATA_DRIVER=drive


DB_IMAGE=container-registry.oracle.com/database/enterprise:latest
ORACLE_PASSWORD=any
ORACLE_PDB=Rany
ORACLE_HOST=oracle-db
ORACLE_PORT=1521
ORACLE_PORT_EMEXRESS=5500
ORACLE_VOL_DATA=/opt/oracle/oradata

ORACLE_DATA_DRIVER=drive

#gateway
ROUTE_GATEWAY=./gateway
GATEWAY_PORT=0000

DB_USER=any
DB_PASSWORD=any

DB_SID=xe
DB_SERVICE=xe

#ms sessions

MSSESSIONS_HOST=ms-sessions
MSSESSIONS_PORT=0000

#ms products

MSPRODUCTS_HOST=ms-products
MSPRODUCTS_PORT=0000