# mongo db

MONGO_IMAGE=
MONGODB_URI=
MONGODB_URI_config=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_VOL_DATA=

MONGO_DATA_DRIVER=


#gateway
ROUTE_GATEWAY=
GATEWAY_PORT=

DB_USER=
DB_PASSWORD=

DB_SID=
DB_SERVICE=

#ms sessions

MSSESSIONS_HOST=
MSSESSIONS_URI=
MSSESSIONS_PORT=

#ms products

MSPRODUCTS_HOST=
MSPRODUCTS_URI=
MSPRODUCTS_PORT=


PSW_JWT=